<ion-header>
  <ion-navbar>
    <ion-title>
        <div>angularattack2018-dongir</div>
    </ion-title>
      <!-- Vote button -->
      <div id="hackbit-vote-widget"></div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p></p>
  
  <div id="frame">
      <div id="content">
        <!-- <div class="box" *ngFor="let wp of wallPositions" [title]="wp">I am a div {{wp}}</div> -->

        <i-scene experimental-webgl="true" id="scene"
            backgroundColor="dimgray"
            backgroundOpacity="0.5"
            style="perspective: 600px;"
            shadowmap-type="pcfsoft">

            <!-- the camera -->
            <!-- <i-perspective-camera active zoom="0"></i-perspective-camera> -->
            <!-- <i-camera active="true" fov="60" near ="0.1" far="1000" zoom="1" aspect="3.6" position="0 0 15"></i-camera> -->
            
            <!-- floor tilted forward 90dg from standing, vertical vindow - the viewpoint to lying, horizontal in height,
              Rotation="90 0 40" also turns the ground/camera 40dg 
              Y=600. Corresponds to Y=-100. ((1500-100)/2)-100=600.
              Z=-1300 moves the floor forward from 0 (away from viewpoint) 
              align="0.5 0" mountPoint="0.5 0 0" centers left corner to viewpoint and then moves it ½ a witdh to left (= centers the center) 
            -->
            <i-plane #maze id="maze" size="2550 1550" position="0 -100 -1500" rotation="90 0 0" align="0.5 0" mountPoint="0.5 0 0">
              <!-- daylight -->
              <!-- <i-ambient-light></i-ambient-light> -->

              <!-- the moon -->
              <i-mesh id="light" has="sphere-geometry basic-material"
                size="10 10 10" color="gold"
                position="800 900 800"
                receive-shadow="false" cast-shadow="false">
                <i-point-light color="white" size="0 0 0" cast-shadow="true" intensity="1.5"></i-point-light>
              </i-mesh>

              <!-- box standing on floor (Z=25) - due to it is relative to tilted floor.
                mountPoint moves the box one pos compared to its size -->
              <i-box size="50 50 50" position="0 0 25" color="red" mountPoint="0 -13 0"></i-box><!-- left back -->
              <i-box size="50 50 50" position="0 0 25" color="red" mountPoint="-1 -13 0"></i-box><!-- left+1 back -->
              <i-box size="50 50 50" position="0 0 25" color="red" mountPoint="0 -14 0"></i-box><!-- left back-1 closer -->

              <i-box size="50 50 50" position="0 500 25" color="#D4A190"></i-box><!-- left back -->
              <i-box size="50 50 50" position="50 500 25" color="#D4A190"></i-box><!-- left+1 back -->
              <i-box size="50 50 50" position="0 550 25" color="#D4A190"></i-box><!-- left back-1 closer -->
              
              <!-- <i-box *ngFor="let mp of wallMountPoints" size="50 50 50" position="0 0 25" color="#D4A190" [mountPoint]="mp"></i-box> -->
              <!-- <i-box *ngFor="let wp of wallPositions" size="50 50 50" [position]="wp" color="#D4A190"></i-box> -->
              
              <!-- i-sphere and i-box are short-hand for i-mesh with a has="" attribute specifying the geometries -->
              <i-sphere size="50 50 50" position="900 900 500" color="#C390D4"></i-sphere>
              <i-box #flybox size="50 50 50" position="1500 1100 300" rotation="30 30 30" color="#D4A190">
                  <!-- <div id="innode">3D</div> -->
              </i-box>
                
            </i-plane>
            
          </i-scene>  
        </div>
  </div>
</ion-content>
